<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http pattern="/images/**" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/js/**" security="none"/>
	<http pattern="/html/**" security="none"/>
	<http pattern="/favicon.ico" security="none"/>
	<http pattern="/invaliduser" security="none"/>
	<http pattern="/logoutsession" security="none"/>
	<http pattern="/resources/**" security="none"/>
	<http pattern="/home_resources/**" security="none"/>
	<http pattern="/app/assets/**" security="none"/>
	<http pattern="/app/work/**" security="none"/>
	<http pattern="/lte/dist/**" security="none"/>
	<http pattern="/lte/bootstrap/**" security="none"/>
	<http pattern="/lte/plugins/**" security="none"/>
	
	<http pattern="/accessdenied" security="none"/>
	<http create-session="never" use-expressions="true"
		auto-config="false" entry-point-ref="preAuthenticatedProcessingFilterEntryPoint">
		<intercept-url pattern="/login*" access="permitAll" />
		<intercept-url pattern="/logoutsession" access="permitAll" />
		<intercept-url pattern="/jsp/index.jsp" access="hasRole('ROLE_GUEST')"/>
		<access-denied-handler error-page="/403" />
		<intercept-url pattern="/app/*" access="hasRole('ROLE_STAFF,ROLE_PARENT,ROLE_STUDENT')"/>
		<intercept-url pattern="/lte/*" access="hasRole('ROLE_STAFF')"/>
		<intercept-url pattern="/html/*" access="hasRole('ROLE_STAFF, ROLE_PARENT, ROLE_STUDENT')"/>
		<intercept-url pattern="/register" access="hasRole('ROLE_COMMONUSER')"/>
		<intercept-url pattern="/schoolRegister" access="hasRole('ROLE_COMMONUSER')"/>
		<intercept-url pattern="/dashboard" access="hasRole('ROLE_STAFF')"/>
		<intercept-url pattern="/loginuser" access="hasRole('ROLE_STAFF,ROLE_PARENT,ROLE_STUDENT')"/>
		<custom-filter position="PRE_AUTH_FILTER"
			ref="preAuthFilter" />
		<session-management>
    	<concurrency-control session-registry-ref="sessionRegistry"/>
		</session-management>
		
    	<logout logout-url="/logout" logout-success-url="/logoutsession" delete-cookies="JSESSIONID" />
	</http>
	
	<beans:bean id="preAuthFilter" class="com.app.filter.UrlParametersAuthenticationFilter">
		<beans:property name="authenticationManager" ref="appControlAuthenticationManager" />
	</beans:bean>

	<beans:bean id="preAuthenticationProvider"
		class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
		<beans:property name="preAuthenticatedUserDetailsService" ref="UserDetailsServiceImpl" />
	</beans:bean>


	<authentication-manager alias="appControlAuthenticationManager">
		<authentication-provider
			ref="preAuthenticationProvider" />
	</authentication-manager>


	<beans:bean id="UserDetailsServiceImpl" class="com.app.security.UserDetailsServiceImpl" />

	<beans:bean id="preAuthenticatedProcessingFilterEntryPoint" class="com.app.security.AuthenticationEntryPointDenied" />


	<!-- <bean id="customUserDetailsService" class="com.app.security.CustomUserDetailsService"></bean> 
		<bean id="http403EntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"></bean> -->

</beans:beans>